<ul class='nav nav-pills'>
    <li><a href='#home'><span class='gglyphicon glyphicon-align-justify'></span> Home</a></li>
    <li class='active'><a href='#new'><span class='glyphicon glyphicon-star'></span> New</a></li>
</ul>