
<ul class='nav nav-pills nav-justified'>
    <li class='active'><a href='#home'><span class='glyphicon glyphicon-th-list'></span> Home</a></li>
    <li><a href='#new'><span class='glyphicon glyphicon-star'></span> New</a></li>
</ul>