<div class="panel panel-default">
  <div class="panel-body">
	<form class="form-inline" role="form">
		<div class="form-group">
			<label class="sr-only" for="itemName">Item Name</label>
			<input type="text" class="form-control" id="itemName" placeholder="Item Name">
		</div>
		<div id="addItem" class="btn btn-default">Add</div>
	</form>
	</div>
</div>