<div class="well well-sm item" data-id="<%= cid %>">
	<div class="row">
		<div class="name"><%= attributes.thing %></div>
		<div class="controls text-right"><span class="glyphicon glyphicon-remove delete" data-id="<%= cid %>"></span></div>
	</div>
</div>