<div class="panel panel-default">
  <div class="panel-body">
	<form class="form-inline">
		<div class="form-group">
			<label class="sr-only">Item Name</label>
			<input class="form-control" id="itemName" placeholder="Item Name">
		</div>
	  <button id="addItem" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Add Item</button>
	</form>
  </div>
</div>